[submodule "CSPong/ChilliSource"]
	path = CSPong/ChilliSource
	url = https://github.com/fjpavm/ChilliSource.git
	branch = linux
[submodule "CSRunner/ChilliSource"]
	path = CSRunner/ChilliSource
	url = https://github.com/fjpavm/ChilliSource.git
	branch = linux
